/* root */
:root{
    --my-circle:65rem;
    --my-circle-color:#017143;
}


/* Css Reset */
*{
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    color: #2b2a2a;
    font-weight: 500;

}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #017143;
  }
  
  ::selection {
    color: white;
    background: #017143;
  }
body{
    overflow: hidden;
}

/* Navigation Bar  */
nav{
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    margin: 5px 26px;
}
nav div img{
    height: 5rem;
    cursor: pointer;
}


nav ul{
    display: flex;
    margin-right: 31px;
}
nav ul li{
    list-style: none;
    padding: 2px 31px;

}
nav ul li a{

    text-decoration: none;
    cursor: pointer;
}

/* Main Body */

    main{ 

    /* display: flex; 
    justify-content:space-between;
    align-items: center; */
    height: 1vh;
    /* border: 2px solid red; */

}
main::before{
    content: "";
    position: absolute;
    background: var(--my-circle-color);
    height: var(--my-circle);
    width:var(--my-circle);
    border-radius: 100%;
    top: 10rem;
    left: 50rem;
    /* overflow: hidden; */
}

.container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.container .text-area{
    display: block;
    width: 560px;
    z-index: 2;
    margin: 50px;
}
.container .text-area .btn{
    color: white;
    background-color: #017143;
    padding: 9px 15px;
    margin: 9px 0px;
    border: none;
    border-radius: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;

}
.container .text-area h1{
    /* color: grey; */
    font-size: 52px;
}
.container .text-area h1 span{
    color: #017143;
    letter-spacing: 1.4px;
    font-size: 1.2em;
    font-weight: 900;
}
.container .text-area img{
    height: 425px;
    display: block;
    margin: auto;
    position: relative;
    top: -25px;
    pointer-events: none;
}

.toggle-images img{
    height: 80px;
    z-index: 20;
    margin: 2px 15px;
    /* pointer-events: none; */
    cursor: pointer;
    transition: 0.7s;
}
.toggle-images img:hover{
transform: translate(0px, -30px);


}

.toggle-images{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 490px;


}
.social{
    position: absolute;
    top: 240px;
    right: 40px;
    display: flex;
    flex-direction: column;
}

.social img{
    height: 20px;
    width: 95%;
    filter: invert(1);
    display: block;
    margin: 15px auto;
    cursor: pointer;
    
}
#facebook{
    width: 50%;
    height: 23px;
}
